<div class="database-container">
	<button id="newDatabaseButton" class="new-database-button">
		New Database
	</button>
	<table class="database-table">
		<thead>
			<tr>
				<th>Database</th>
				<th>Username</th>
				<th>Host</th>
				<th>Port</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% dataDatabase.forEach(database => { %>
			<tr>
				<td><%= database.db_name %></td>
				<td><%= database.username %></td>
				<td><%= database.host %></td>
				<td><%= database.port %></td>
				<td>
					<button
						class="update-button"
						data-databaseid="<%= database.database_id %>"
						aria-label="Update database <%= database.db_name %>">
						Update
					</button>
				</td>
			</tr>
			<% }) %>
		</tbody>
	</table>
</div>

<!-- Modal for Creating New Database -->
<div id="createModal" class="modal">
	<div class="modal-content">
		<span class="close-button">&times;</span>
		<form id="createForm" class="modal-form" autocomplete="off">
			<div class="form-group">
				<label for="host">Host:</label>
				<input type="text" id="newHost" name="host" required />
			</div>
			<div class="form-group">
				<label for="port">Port:</label>
				<input type="text" id="newPort" name="port" required />
			</div>
			<div class="form-group">
				<label for="database">Database:</label>
				<input type="text" id="newDatabase" name="database" required />
			</div>
			<div class="form-group">
				<label for="username">Username:</label>
				<input type="text" id="newUsername" name="username" required />
			</div>
			<div class="form-group">
				<label for="username">Password:</label>
				<input type="text" id="newPassword" name="username" required />
			</div>
			<div class="modal-actions">
				<button type="button" id="createButton">Create Database</button>
			</div>
		</form>
	</div>
</div>

<!-- Modal for Database Update -->
<div id="updateModal" class="modal">
	<div class="modal-content">
		<span class="close-button">&times;</span>
		<form id="updateForm" class="modal-form">
			<!-- Hidden input for database_id -->
			<input type="hidden" id="updateDatabaseId" name="databaseId" />

			<div class="form-group">
				<label for="host">Host:</label>
				<input type="text" id="updateHost" name="host" required />
			</div>
			<div class="form-group">
				<label for="port">Port:</label>
				<input type="text" id="updatePort" name="port" required />
			</div>
			<div class="form-group">
				<label for="database">Database:</label>
				<input type="text" id="updateDatabase" name="database" required />
			</div>
			<div class="form-group">
				<label for="username">Username:</label>
				<input type="text" id="updateUsername" name="username" required />
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="text" id="updatePassword" name="password" required />
			</div>

			<div class="modal-actions">
				<button type="button" id="deleteButton">Delete</button>
				<button type="button" id="saveButton">Save</button>
			</div>
		</form>
	</div>
</div>
